{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h1 class="display-4">{{ heading }}</h1>
        <p class="lead">{{ message }}</p>
        {% set x = namespace(value=1) %}
        {% for round in schedule %}
        <h2>Round {{ x.value }} - WW {{ x.value + 8}}</h2>
        <table class="table table-striped">
            <col width="10%">
            <col width="30%">
            <col width="30%">
            <col width="30%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pairing 1</th>
                    <th>Pairing 2</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                {% for match in round %}
                <tr>
                    <td>&nbsp;</td>
                    <td>{{ match.player0 }}, {{ match.player1 }}</td>
                    <td>{{ match.player2 }}, {{ match.player3 }}</td>
                    <td>
                        <div class="container">
                            <div class="row">
                              <div class="col-sm">
                                <label for="result" align="left">{{ match.score0 }} : {{ match.score1 }}</label>
                              </div>
                              <div class="col-sm">
                                <form action="/result/{{ match.id }}" align="right">
                                    <input type=submit value="enter" style="width:100%"> 
                                </form>
                              </div>
                            </div>
                          </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% set x.value = x.value + 1 %}
        
        {% endfor %}
    </div>
{% endblock %}